<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link 
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" 
    crossorigin="anonymous"
  />
  <link 
    rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" 
  />

  <title>Admin - Aluguéis</title>

  <style>
    .header-logo{
      margin-right: 50px;
    }

    .infos{
            margin-top: 10rem;
    }

    .img{
      height: 20px;
      width: 20px;
    }

    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  </style>

</head>
<body>
  <%- include("../partials/header-admin"); %>

  <div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Lista de Aluguéis</h2>

    <% if(mensagemErro){ %>
      <div class="alert alert-danger w-100" role="alert">
        <%= mensagemErro %>
      </div>
    <% } %>

    <% alugueis.forEach((aluguel)=> { %>
      <%- include("../partials/cartao-aluguel", { aluguel }); %>
    <% }) %>
  </div>

  <%- include("../partials/modal-detalhes-carro"); %>

  <footer class="text-center">Projeto 1 de Web - Desenvolvido por <a href="">Jorge Nobre</a>, <a href="">Livian Torres</a>, <a href="">Samuel Lopes</a>, <a href="https://github.com/victor-joness">Victor Mesquita</a></footer>

  <script 
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" 
    crossorigin="anonymous"
  ></script>

  <script src="../../js/carros/modal-detalhes-carro.js"></script>
</body>
</html>